// Custom styles.
.header{ width: 80%; }
.container .main-inner { width: 80%; }
.content-wrap { width: calc(100% - 260px); }

.post-body p a{
    color: #0593d3;
    border-bottom: none;
    border-bottom: 1px solid #0593d3;
    &:hover {
      color: #fc6423;
      border-bottom: none;
      border-bottom: 1px solid #fc6423;
    }
 }